<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Todo</h3>
            </div>

			      <%= render 'form', todo: @todo %>

          </div>
          <!-- /.box -->
        <!--/.col (right) -->
      </div>

    </div> 
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
